<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <div th:replace="fragments/header :: header"/>
    <title th:text="${title}"/>
</head>
<body>

<div th:replace="fragments/topmenu :: topmenu "/>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <form action="#" th:action="@{/clients/add-and-check-owner}" th:object="${owner}" method="post">
                <h1 th:text="${title}"/>
                <div th:replace="fragments/ownercontent :: ownerInfo"/>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
            <br>
            <div th:if="${!errorMessage.isEmpty()}"
                 class="alert alert-danger" data-th-cellpadding="5">
                <p th:text="${errorMessage}"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>