<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <div th:replace="fragments/header :: header"/>
    <style>

        .to-one-line {display: inline-block; }
        .close-repair { text-decoration:line-through }
        .inputSize {width: 40px }
        #year {width: 70px; }
    </style>
    <title>Страница оператора</title>
</head>
<body>

<div th:replace="fragments/topmenu :: topmenu "/>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <form th:action="@{/cars/car/save}" th:object="${car}" method="post">
                <h1 th:text="${title}"/>
                <div class="form-group">
                    <!-- id обязательно надо выводить, иначе в объекте будет null-->
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{owner.id}" />
                    <strong>Клиент:  <a  th:href="@{/clients/owner/{id}(id=${car.owner.id})}"> <span th:text="*{owner.name}"/></a></strong>
                </div>
                <div th:replace="fragments/carcontent :: carInfo "/>
                <button type="submit" class="to-one-line btn btn-success">Сохранить</button>

                <!--Delete-->
                <!--a href type="submit"><span class="glyphicon glyphicon-trash"></span></a-->
                <button type="submit"  formaction="#" th:attr="formaction=@{/cars/del/{id}(id=${car.id})}" class="to-one-line btn btn-warning btn-sm" >
                        <span class="glyphicon glyphicon-trash"></span> Удалить
                </button>

                <!--Enroll repair-->
                <a th:href="@{/cars/car/{id}/enroll(id=${car.id})}" class="to-one-line btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-wrench"></span> Записать на ремонт
                </a>

            </form>



            <div th:if="${!repairs.isEmpty()}">
            <hr/>
                <strong>Записи на ремонт:</strong>
            <div th:each="repair : ${repairs}">
                <a  th:href="@{/repairs/repair/{id}(id=${repair.id})}">
                    <h4 class="to-one-line" th:classappend="${repair.active} ? '' : 'close-repair'"
                        th:text="${repair.date} +' '+ ${repair.time} +' '+ ${repair.service}"/>
                </a>
            </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>