<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <div th:replace="fragments/header :: header"/>
    <title>Автомобили</title>
</head>
<body>

<div th:replace="fragments/topmenu :: topmenu "/>
<br/>
<div th:replace="fragments/success-animate :: message-block "/>
<div class="container-fluid text-center">
    <div class="row content">
       <div class="col-sm-8 text-left">
           <a href="/cars/addcar" class="btn btn-info btn-sm">
               <span class="glyphicon glyphicon-plus"></span> Добавить
           </a>


            <div th:each="car : ${cars}">

                    <a class="to-one-line" th:href="@{/cars/car/{id}(id=${car.id})}"><h3  th:text="${car.carModel}"/></a>

                <form class="to-one-line" th:action="@{/cars/car/{carId}/enroll(carId=${car.id})}" method="get">
                    <!--Enroll repair-->
                    <!--a href type="submit"><span class="glyphicon glyphicon-trash"></span></a-->
                    <button type="submit" class="btn btn-default btn-sm" title="Записать на ремонт">
                        <span class="glyphicon glyphicon-wrench"></span>
                    </button>
                </form>
                <!--a th:href="@{/cars/del/{id}(id=${car.id})}"><span>Delete</span></a-->
                <ul class="car-info">
                    <li th:text="${car.year}"/>
                    <li th:text="${car.getEngineTypeName()}"/>
                    <li th:text="${car.engineCapacity}"/>
                </ul>
                <p th:text="${car.content}"/>
                <hr/>
            </div>
        </div>
    </div>
</div>
</body>
</html>