<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <div th:replace="fragments/header :: header"/>
    <title>Клиенты</title>
</head>
<body>

<div th:replace="fragments/topmenu :: topmenu "/>
<br/>
<div th:replace="fragments/success-animate :: message-block "/>
<div class="container-fluid text-center">
    <div class="row content">
       <div class="col-sm-8 text-left">
           <a href="/clients/add" class="btn btn-info btn-sm">
               <span class="glyphicon glyphicon-plus"></span> Добавить
           </a>
           <div th:each="owner : ${owners}">

                <a class="to-one-line" th:href="@{/clients/owner/{id}(id=${owner.id})}"><h3  th:text="${owner.name}"/></a>

                <ul class="car-info">
                    <li th:text="${owner.phone}"/>
                    <li th:text="${owner.note}"/>
                </ul>
                <hr/>
            </div>
        </div>
    </div>
</div>
</body>
</html>