
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <div th:replace="fragments/header :: header"/>
    <title th:text="${title}"/>
</head>
<body>

<div th:replace="fragments/topmenu :: topmenu "/>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <form  th:action="@{/cars/car/{id}/enroll(id=${repair.car.id})}"  th:object="${repair}" method="post">
                <h1 th:text="${title}"/>
                <div class="form-group">
                    <div th:replace="fragments/repaircontent :: repairInfo "/>
                    <button type="submit" class="btn btn-success">Записать</button>
                    <p th:if="${#fields.hasErrors('time')}" th:errors="*{time}">Name Error</p>
                </div>

            </form>
            <div th:if="${!objectError.defaultMessage.isEmpty()}"
                 class="alert alert-danger" data-th-cellpadding="5">
                <p th:text="${objectError.defaultMessage}"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>