<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <div th:replace="fragments/header :: header"/>
    <style>

        .to-one-line {display: inline-block;  padding: 5px;	}

        .inputSize {width: 40px }
        #year {width: 70px; }
    </style>
    <title>Страница оператора</title>
</head>
<body>

<div th:replace="fragments/topmenu :: topmenu "/>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <form action="#" th:action="@{/clients/owner/save}" th:object="${owner}" method="post">
                <h1 th:text="${title}"/>
                <!-- id обязательно надо выводить, иначе в объекте будет null-->
                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                     <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" required th:field="*{name}"/>

                    <label for="tel">Телефон</label>
                    <input type="tel" class="form-control" id="tel" required th:field="*{phone}"/>

                    <label for="note">Заметка</label>
                    <input type="text" class="form-control" id="note" required th:field="*{note}"/>
                </div>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
            <form class="to-one-line" th:action="@{/clients/del/{id}(id=${owner.id})}" method="post">
                <!--Delete-->
                <!--a href type="submit"><span class="glyphicon glyphicon-trash"></span></a-->
                <button type="submit" class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                </button>
            </form>

        </div>
    </div>
</div>

</body>
</html>